.side_panel_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width: 218px;
  box-shadow: 0px 0px 1px #171a1f;
  border-radius: 4px;
  padding: 20px 12px;
  height: 80vh;
}

.side_panel_top {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-size: 14px;
  color: #171a1fff;
}

.side_panel_bottom {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bottom_info_tile {
  color: #565e6cff;
  align-items: center;
  display: flex;
  gap: 14px;
  font-size: 12px;
}

/* responsive design */

@media screen and (max-width: 620px) {
  .side_panel_container {
    width: 100%;
  }

  .bottom_info_tile{
    justify-content: center;
    font-size: 14px;
  }
}
